[user]
	name = Keiran
	email = root@keirn.net
	signingKey = 80E0AA0B2E60E10AB0E9905CF64CBBFBF6635EF9

[init]
	defaultBranch = master

[core]
    editor = nvim
    autocrlf = input
    excludesFile = ~/.gitignore

[pull]
    rebase = true

[push]
    autoSetupRemote = true

[merge]
    conflictstyle = zdiff3

[alias]
    unstage = reset HEAD --
    last = log -1 HEAD
    visual = log --oneline --decorate --all --graph
    hist = log --pretty=format:'%h %ad | %s%d [%an]' --graph --date=short

[advice]
	addEmptyPathspec = false

[checkout]
	defaultRemote = origin
[commit]
	gpgsign = true
