[user]
	name = Keiran
	email = keircn@proton.me
	signingKey = 2942AF38FC313B71D79C3852C29BA0DCF81ED2B5

[init]
    defaultBranch = main

[core]
    editor = nvim
    autocrlf = input
    excludesFile = ~/.gitignore

[pull]
    rebase = true

[push]
    autoSetupRemote = true

[merge]
    conflictstyle = zdiff3

[alias]
    unstage = reset HEAD --
    last = log -1 HEAD
    visual = log --oneline --decorate --all --graph
    hist = log --pretty=format:'%h %ad | %s%d [%an]' --graph --date=short

[advice]
	addEmptyPathspec = false

[checkout]
	defaultRemote = origin
[commit]
	gpgsign = true
