[user]
    name = Keiran
    email = keircn@proton.me

[init]
    defaultBranch = main

[core]
    editor = hx
    autocrlf = input
    pager = delta

[pull]
    rebase = true

[push]
    autoSetupRemote = true

[interactive]
    diffFilter = delta --color-only

[include]
	path = /home/keiran/.config/delta/themes/catppuccin.gitconfig

[delta]

[delta]
    navigate = true
    dark = true
	  features = catppuccin-mocha

[merge]
    conflictstyle = zdiff3

[alias]
    co = checkout
    br = branch
    ci = commit
    st = status
    unstage = reset HEAD --
    last = log -1 HEAD
    visual = log --oneline --decorate --all --graph
    hist = log --pretty=format:'%h %ad | %s%d [%an]' --graph --date=short
[advice]
	addEmptyPathspec = false
[url "git@github.com:"]
	insteadOf = https://github.com/
