**/.bash_history
**/.python_history
**/.sqlite_history
**/.env
**/*.key
**/*.pem
**/secrets.*
.DS_Store
Thumbs.db
**/._*

kitty/kitty-colors.conf
fuzzel/fuzzel.ini
fnott/fnott.ini
fish/fish_variables
