:root {
  --bg: #%%background%%;
  --bg-container: #%%color8%%;
  --bg-raised: #%%color4%%;
  --bg-header: #%%background%%;
  --bg-muted: #%%color1%%;

  --text: #%%foreground%%;
  --text-muted: #%%color14%%;
  --text-dim: #%%color6%%;
  --text-accent: #%%color5%%;

  --link: #%%color5%%;
  --hover: #%%color13%%;
  --border: #%%color6%%;
  --border-light: #%%color8%%;
  --accent: #%%color5%%;
}
