* {
  border: none;
  border-radius: 0px;
  font-family: "GeistMono Nerd Font", monospace;
  font-size: 14px;
  min-height: 0;
}

@define-color rose #ebbcba;
@define-color text #e0def4;
@define-color muted #908caa;
@define-color subtext #6e6a86;
@define-color overlay #26233a;
@define-color surface #1f1d2e;
@define-color base #191724;
@define-color mantle #21202e;
@define-color crust #11111b;
@define-color green #9ccfd8;
@define-color red #eb6f92;
@define-color blue #31748f;
@define-color peach #f6c177;

#waybar {
  background-color: rgba(25, 23, 36, 0.75);
  color: @text;
  border-radius: 12px;
  padding: 3px 10px;
  margin: 8px 0 0 0;
}

#waybar .modules-left,
#waybar .modules-right,
#waybar .modules-center {
  padding: 4px 10px;
}

#clock,
#pulseaudio,
#network,
#custom-powermenu,
#memory,
#cpu,
#temperature,
#disk,
#uptime,
#window,
#tray,
#idle_inhibitor {
  background-color: @base;
  padding: 2px 10px;
  margin: 3px 2px;
  border-radius: 8px;
  color: @text;
  transition: all 0.3s ease-in-out;
}

#clock:hover,
#pulseaudio:hover,
#network:hover,
#custom-powermenu:hover,
#memory:hover,
#cpu:hover,
#temperature:hover,
#disk:hover,
#uptime:hover,
#window:hover,
#tray:hover,
#idle_inhibitor:hover {
  background-color: @surface;
  color: @rose;
}

#workspaces {
  background-color: @base;
  padding: 2px 4px;
  margin: 3px 2px;
  border-radius: 8px;
}

#workspaces button {
  padding: 2px 8px;
  margin: 2px 2px;
  background-color: @surface;
  color: @subtext;
  border-radius: 8px;
  transition:
    background-color 0.25s,
    color 0.25s,
    border-color 0.25s;
}

#workspaces button:hover {
  background-color: @surface;
  color: @text;
}

#workspaces button.active {
  background-color: @surface;
  color: @text;
  border: 2px solid @rose;
}

#workspaces button.active:hover {
  border-color: @rose;
}

#workspaces button.urgent {
  background-color: @red;
  color: @text;
  box-shadow: 0px 0px 8px @red;
}

#battery.charging,
#battery.full {
  color: @green;
  background-color: @surface;
}

#battery.warning:not(.charging) {
  color: @peach;
}

#battery.critical:not(.charging) {
  color: @red;
  animation: blink 1s linear infinite alternate;
}

#battery.warning:not(.charging) {
  color: @peach;
}

#battery.critical:not(.charging) {
  color: @red;
  animation: blink 1s linear infinite alternate;
}

@keyframes blink {
  to {
    color: @base;
    background-color: @red;
  }
}

#pulseaudio.muted {
  color: @muted;
}

#window {
  font-weight: bold;
  color: @blue;
}

#window:hover {
  color: @rose;
  border-left-color: @rose;
}

#window.empty {
  color: @overlay;
  background-color: @surface;
  border-left-color: @overlay;
}

#disk.warning {
  color: @peach;
}

#disk.critical {
  color: @red;
  animation: blink 1s linear infinite alternate;
}

#temperature.critical {
  color: @red;
  animation: blink 1s linear infinite alternate;
}

#cpu.warning,
#memory.warning,
#temperature.warning {
  color: @peach;
}

#cpu.critical,
#memory.critical {
  color: @red;
  animation: blink 1s linear infinite alternate;
}

#idle_inhibitor.activated {
  color: @rose;
  background-color: @surface;
}

#idle_inhibitor {
  padding: 0 12px 0 8px;
}
